.app {
    justify-content: center;
    display: flex;
    align-items: center;
}

.container {
    box-sizing: border-box;
    border: 1px solid #000000;
    background-color: #415b63;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 700px;
    width: 700px;
    margin-top: 25px;
    box-shadow: #000000 1px 2px 15px;
}

.head-text {
    margin-top: -100px;
    color: #ffffff;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    text-shadow: #000000 1px 0 1px;
}

input {
    height: 35px;
    width: 500px;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: #000000 1px 0 10px;
}

input:active {
    border: none;
}

input::placeholder {
    font-style: italic;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}

.add-item, .delete-item {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: #000000 1px 0 10px;
    background-color: #ffffff;
    cursor: pointer;
    color: #415b63;
    font-weight: 600;
    height: 35px;
}

.items {
    justify-content: space-around;
    color: #ffffff;
    font-size: 25px;
}

.items ol li {
    list-style: none;
    margin-bottom: 15px;
    align-items: center;
    justify-items: center;
    text-shadow: #000000 1px 0 1px;
    text-align: center;
}